.layout {
  min-width: 40vw;
  height: 50px;
  margin: auto 0;
  line-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(229, 232, 235);
  border-radius: 10px;
  padding: 5px 5px 5px 16px;
}

.layoutActive{
    min-width: 40vw;
      height: 50px;
      margin: auto 0;
      line-height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(229, 232, 235);
      border-radius: 10px;
      padding: 5px 5px 5px 16px;
    animation: click 0.1s linear forwards;
}

.searchIcon {
  color: gray;
}

.search {
  width: 100%;
  display: flex;
  border: none;
  outline: none;
  height: 45px;
  padding-left: 10px;
  font-size: 16px;
  color: #777;
}

@media screen and (max-width: 768px) {
    .layout {
        min-width: 1vw;
        height: 50px;
        margin: auto 0;
        line-height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(229, 232, 235);
        border-radius: 10px;
        padding: 5px 5px 5px 16px;
      }
}

@keyframes click {
  from {
      box-shadow: rgb(4 17 29 / 10%) 0px 0px 0px 0px;
    }
  
    to {
      box-shadow: rgb(4 17 29 / 10%) 0px 0px 3px 3px;
    }
}