.layout {
  width: 70vw;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  z-index: 100;
  position: absolute;
  right: 0;
  animation: showSideBar 0.2s linear forwards;
  box-shadow: rgb(4 17 29 / 25%) 0px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.background {
  width: 100vw;
  top: 72px;
  height: 100vh;
  background-color: rgba(4, 17, 29, 0.3);
  z-index: 99;
  position: absolute;
}

.navItemLayout {
  width: 100%;
  border-bottom: 1px solid rgb(214, 214, 214);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.navBar {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  align-items: flex-end;
  padding-left: 0;
}

.navItem {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgba(4, 17, 29, 0.75);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navItem:hover {
  color: black;
}

.navIcon:hover {
  color: #333 !important;
}

.account {
  background-color: rgb(25, 120, 216);
  width: 75%;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 10px;
}

.connectButtonLayout {
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.connectButton {
  width: 100%;
  height: 5vh;
  background-color: #2992fc;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
@keyframes showSideBar {
  from {
    width: 0vw;
  }
  to {
    width: 70vw;
  }
}
