.flexLayout {
  max-width: 1600px;
  height: calc(100vh - 170px);
  display: flex;
  margin: 0 auto;
  padding: 10px;
  gap: 20px;
}

.infoLayoutA {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoLayoutB {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .flexLayout {
    max-width: 960px;
    flex-direction: column;
    overflow: scroll;
  }

  .infoLayoutA {
    width: 100%;
  }

  .infoLayoutB {
    width: 100%;
  }
}
