.layout {
  display: flex;
  width: 100%;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  padding: 20px;
  justify-content: space-between;
}

.flexLayout {
  display: flex;
  align-items: center;
}

.titleText {
  font-size: 20px;
  margin-left: 10px;
}

.price {
  font-size: 28px;
}

.unit {
  font-size: 14px;
  color: rgb(110, 110, 110);
  margin-left: 10px;
}
