.layout {
  width: 100vw;
  height: calc(50vh - 72px);

  border-radius: 0px 0px 50% 50%;
  background: #2980b9; /* fallback for old browsers */
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 5px 6px;

  background: linear-gradient(
    to right,
    #cb46ec,
    #826dfa,
    #51b1f1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profileLayout {
  height: 52vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profileImage {
  width: 150px;
  height: 150px;
  background-color: rgb(197, 197, 197);
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage:hover {
  background-color: rgb(184, 184, 184);
}

.balanceLayout {
  width: 30vw;
  height: 15vh;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgb(4 17 29 / 25%) 0px 2px 20px 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.balanceInfoTitle {
  font-size: 24px;
  font-weight: 700;
  color: rgb(148, 148, 148);
}

.balanceInfoText {
  max-width: 12vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.balanceInfoLayout {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .balanceLayout {
    width: 80vw;
  }

  .layout {
    border-radius: 0px 0px 30% 30%;
  }
}
