.layout {
  width: 500px;
  height: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
}

.title {
  font-size: 18px;
}

.author {
  font-size: 14px;
  color: rgb(161, 154, 154);
}
