.layout {
  width: 500px;
  height: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 10px 0px;
  display: flex;
  flex-direction:column;
  justify-content: center;

}
