.layout {
  box-sizing: border-box;
  position: sticky;
  top: 72px;
  z-index: 2;
  bottom: 0;
  width: 15%;
  flex-shrink: 0;
  height: calc(100vh - 72px);
  border: 1px solid rgb(211, 204, 204);
  align-self: flex-start;
}

@media screen and (max-width: 960px) {
  .layout {
    position: fixed;
    top: 72px;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    align-self: flex-start;
    height: fit-content;
    border: 1px solid rgb(231, 231, 231);
  }
}
