.layout {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-image: url("/images/mainPoster.jpg");
  background-size: cover;
}

.h1 {
  font-size: 55px;
  color: white;
  position: relative;
}

.h3 {
  font-size: 18px;
  color: rgb(228, 228, 228);
  position: relative;
  text-align: center;
}

.layout::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #333;
}

.exploreButton {
  width: 150px;
  border-radius: 10px;
  background-color: #2992fc;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 10px auto;
  position: relative;
  cursor: pointer;
}

.exploreButton:hover {
  background-color: rgb(35, 126, 218);
}
