.layout {
  width: 100%;
  position: relative;
  height: 95vh;
  background-size: cover;
}

.background {
  width: 100%;
  height: 95vh;
  filter: blur(8px);
  position: absolute;
  background-image: url("/images/mainPoster.jpg");
  background-size: cover;
  mask-image: linear-gradient(rgb(255, 255, 255), transparent);
  opacity: 0.5;
}

.introLayout {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: auto;
}

.introText {
  padding: 150px 100px 150px 100px;
}

.h1 {
  font-size: 55px;
  color: black;
  position: relative;
  text-align: left;
  margin: 8px 0px;
  font-weight: 700;
}

.h3 {
  font-size: 22px;
  color: rgb(49, 49, 49);
  position: relative;
  text-align: left;
  margin: 10px 0px;
}

.buttonLayout {
  width: fit-content;
  display: flex;
  gap: 15px;
}

.exploreButton {
  display: block;
  width: 150px;
  border-radius: 10px;
  background-color: #2992fc;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  position: relative;
  border: none;
  cursor: pointer;
}

.exploreButton:hover {
  animation: hover 0.2s linear forwards;
}

.createButton {
  display: block;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  color: #2992fc;
  padding: 15px;
  border: 2px solid #2992fc;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}

.createButton:hover {
  animation: hover 0.2s linear forwards;
}

@keyframes hover {
  from {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
  }
  to {
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 20px 0px;
  }
}

@media screen and (max-width: 960px) {
  .introLayout {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .introText {
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .h1 {
    font-size: 45px;
    color: black;
    position: relative;
    text-align: left;
    margin: 8px 0px;
    font-weight: 700;
  }

  .h3 {
    font-size: 18px;
    color: rgb(49, 49, 49);
    position: relative;
    text-align: left;
    margin: 3px 0px;
  }
}
