.layout {
  width: 100%;
  position: relative;
  height: 95vh;
  background-size: cover;
}

.background {
  width: 100%;
  height: 95vh;
  filter: blur(8px);
  position: absolute;
  background-image: url("/images/mainPoster.jpg");
  background-size: cover;
  mask-image: linear-gradient(rgb(255, 255, 255), transparent);
  opacity: 0.5;
}

.introLayout {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: auto;
}

.introText {
  padding: 150px 100px 150px 100px;
}

.h1 {
  font-size: 6vmin;
  color: black;
  position: relative;
  text-align: left;
  margin: 8px 0px;
  font-weight: 700;
}

.h3 {
  font-size: 1.4vmax;
  color: rgb(49, 49, 49);
  position: relative;
  text-align: left;
  margin: 0;
}

.buttonLayout {
  width: fit-content;
  display: flex;
  gap: 15px;
}

.exploreButton {
  display: block;
  width: 150px;
  border-radius: 10px;
  background-color: #2992fc;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  position: relative;
  border: none;
  cursor: pointer;
}

.exploreButton:hover {
  animation: hover 0.2s linear forwards;
}

.createButton {
  display: block;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  color: #2992fc;
  padding: 15px;
  border: 2px solid #2992fc;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}

.createButton:hover {
  animation: hover 0.2s linear forwards;
}

@keyframes hover {
  from {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
  }
  to {
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 20px 0px;
  }
}

@media screen and (max-width: 960px) {
  .introLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .introText {
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1281px) {
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media screen and (max-width: 768px) {
  .h1 {
      font-size: 8vw;
      color: black;
      position: relative;
      text-align: left;
      margin: 0;
      font-weight: 700;
    }
  
    .h3 {
      font-size: 3vw;
      color: rgb(49, 49, 49);
      position: relative;
      text-align: left;
      margin: 0;
    }
  
}
