.layout {
  display: flex;
  height: 100%;
  position: relative;
}

.exploreLayout {
  width: 79%;
}

.assetsLayout {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33vh, 1fr));
  grid-auto-rows: minmax(400px, auto);
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .layout {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
  }
  .exploreLayout {
    width: 100%;
  }
}
