html,
body {
  padding: 0;
  margin: 0;
  padding-top: 35px;
  font-family: SpoqaHanSans Regular;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: SpoqaHanSans Regular;
}

button {
  font-family: SpoqaHanSans Regular;
}
* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@font-face {
  font-family: "SpoqaHanSans Regular";
  font-weight: 200;
  src: url("/font/SpoqaHanSans_subset/Spoqa Han Sans Regular.woff2")
    format("truetype");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
